<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="conPool" class="ConnectionPool" scope="singleton" init-method="init" destroy-method="destroy">
        <constructor-arg value="jdbc:postgresql://localhost:5432/traineedb"/>
        <constructor-arg value="postgres"/>
        <constructor-arg value="10"/>
    </bean>
</beans>