<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="employee" class="Employee">
        <property name="id" value="3"/>
        <property name="name" value="Kevin Taing"/>
        <property name="salary" value="10"/>
        <property name="address" ref="address"/>
    </bean>
    <bean id="address" class="Address">
        <property name="city" value="Houston"/>
        <property name="state" value="Texas"/>
        <property name="pincode" value="11111"/>
    </bean>
</beans>